<app-task-input
  (newTaskCreated)="onNewTaskAdded($event)"
>
</app-task-input>

<ul
  class="list-group"
>
	<br />
  <li
    class="list-group"
    *ngIf="allTasksCompleted"
  >
    All tasks completed!
  </li>
  <app-task
    *ngFor="let task of filteredTasks; let i = index"
		[taskIndex]="i"
    [task]="task"
		(taskCompleted)="onTaskCompleted($event)"
    (editTask)="onEditTask($event)"
  >
  </app-task>
</ul>
<!-- <button (click)="assertEquals(allTasks[0].taskStatus, 'complete', 'The first task should have taskStatus as active')">Assert taskStatus</button> -->
<!--
"assertEquals(allTasks[0].taskStatus, 'active', 'The first task should have taskStatus as active')"
-->